@import "../../node_modules/bootstrap/scss/bootstrap.scss";

[avatar]{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
[auth] span{
    color:#000;
    mix-blend-mode: difference;
}