@import "../../node_modules/bootstrap/scss/bootstrap";
:root{
    --tD:0.5s;
    --blanco:#fff;
    --Tblanco:#000;
    --Bblanco:#fff;
    --BTblanco:#000;
    --BBblanco:1px solid #000;

    --black:#000;
    --Tblack:#fff;
    --Bblack:#000;
    --BTblack:#fff;
    --BBblack:1px solid #fff;
}

body{
    transition-duration: var(--tD);
    background-color: var(--blanco);
    color:var(--Tblanco);
    button{
        border:var(--BBblanco);
        background: var(--Bblanco);
        color:var(--BTblanco);
    }
    button:hover{
        border:1px solid #666;
        background: #232;
        color:#fff;
    }
    div.content div[slot="navbar"]{
        background-color: red;
    }
    div.content div[slot="body"]{
        background-color: blue;
        color:#fff;
    }
}

body[dark]{
    transition-duration: var(--tD);
    background-color: var(--black);
    color:var(--Tblack);
    img, picture, video{
        filter: invert(1) hue-rotate(180deg)
    }
}
.navbar-dark{
    background-color: #000;
    color:#fff;
}
[invert]{
    filter:invert(1);
}